@tailwind base;

@tailwind components;

@tailwind utilities;

.theme-light {
  --bg-background-primary: #FFFFFF;
  --bg-background-secondary: #FAFAFA;
  --bg-background-ternary: #131516;
  transition: background-color 0.15s ease-in-out;
}
.theme-dark {
  --bg-background-primary: #2B3743;
  --bg-background-secondary: #212E37;
  --bg-background-ternary: #FAFAFA;
  transition: background-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}